<div class="card sp ">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <a class="nav-link" routerLink="/events/search">
                <button type="button" class="width-full btn btn-default">
                    SEARCH
                </button>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="nav-link" routerLink="/events/calendar">
                <button type="button" class="width-full btn btn-default">
                    CALENDAR
                </button>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="nav-link" routerLink="/events/created">
                <button type="button" class="width-full btn btn-default" placement="right"
                    ngbPopover="This is a very beautiful popover, show some love.">
                    CREATED
                </button>
            </a>

        </div>

        <div class="col-sm-3">
            <a class="nav-link" routerLink="/events/promotion">
                <button type="button" class="width-full btn btn-default">
                    PROMOTION
                </button>
            </a>
        </div>

    </div>
</div>
<div class="main-content">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>