<div class="card sp ">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <a class="nav-link" routerLink="/events/search">
                <button type="button" class="width-full btn btn-default">
                    {{'events.search'|translate}}
                </button>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="nav-link" routerLink="/events/calendar">
                <button type="button" class="width-full btn btn-default">
                    {{'events.calendar'|translate}}
                </button>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="nav-link" routerLink="/events/created">
                <button type="button" class="width-full btn btn-default" placement="right"
                    ngbPopover="This is a very beautiful popover, show some love.">
                    {{'events.created'|translate}}
                </button>
            </a>
        </div>

        <div class="col-sm-3">
            <a class="nav-link" routerLink="/events/promotion">
                <button type="button" class="width-full btn btn-default">
                    {{'events.promotion'|translate}}
                </button>
            </a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>