<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <a routerLink="/view-events">
                    <div class="card">
                        <h2>SEE EVENTS</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-12">
                <a routerLink="/create-event">
                    <div class="card">
                        <h2>CREATE EVENTS </h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>