<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-lg-2 col-lg-5 col-md-12 pull-right">
                <div class="card">
                    <a routerLink="/view-events">
                        <h2>{{'landing.see-events' | translate}}</h2>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="card">
                    <a routerLink="/create-event">
                        <h2>{{'landing.create-event'|translate}} </h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>