<div class="wrapper">
    <div class="ssidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <navbar></navbar>
    </div>
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text">
            <div style="display: block; position: fixed; top: 8%; padding-left: 60px;" class="logo-ismg">
                <img src="/assets/img/logo.jpg" style="height: 70px; width:250px;" />
            </div>
            <!-- PLANENDAR -->
        </a>
    </div>
    <div class="main-panel" style="margin-right: 126px; top:25%;">
        <app-navbar style="position: fixed;
        left: 47%;
        top: 8%;"></app-navbar>
        <router-outlet></router-outlet>

    </div>
</div>