<div class="wrapper">
    <!-- <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div> -->
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text">
            <div style="    top: 84px;
            display: block;
            position: relative;
            padding-left: 60px;" class="logo-ismg">
                <img src="/assets/img/logo.jpg" style="height: 70px; width:250px;" />
            </div>
            <!-- PLANENDAR -->
        </a>
    </div>
    <div class="main-panel" style="margin-right: 126px;">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
</div>