<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white pb-5">
                            <img id="logo" src="./assets/img/logo.jpg" height="100px">

                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>Enter your new password</small>
                            </div>
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input type="password" class="form-control" [ngClass]="{'is-invalid' : 
                         (form.controls.password.touched && form.controls.password.invalid) || (form.controls.password.touched && form.controls.password.invalid),
                         'is-valid': form.controls.password.valid}" formControlName="password"
                                            id="exampleInputpassword1" aria-describedby="passwordHelp"
                                            placeholder="Enter password">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input type="password" class="form-control" [ngClass]="{'is-invalid' : 
                         (form.controls.confirm_password.touched && form.controls.confirm_password.invalid) || (form.controls.confirm_password.touched && form.controls.confirm_password.invalid),
                         'is-valid': form.controls.confirm_password.valid}" formControlName="confirm_password"
                                            id="confirm_exampleInputpassword1" aria-describedby="confirm_passwordHelp"
                                            placeholder="Enter password again">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success my-4">Update Password</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>