<section class="section">
    <div class="container">
        <div class="card">
            <div class="card-header card-header-info">
                <h3 class="card-title">Notifications</h3>
            </div>
            <div class="card-body">
                {{!show_notifications}}
                <div *ngIf="!show_notifications" class="card card-profile p-3">
                    <h5>No Notifications </h5>
                </div>
                <div class="card card-profile" *ngFor="let notification of notifications.notifications; let i = index;">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="carsd-avatar p-1">
                                <a href="javascript:void(0)">
                                    <img class="img" height="62px" style="margin-top: 2px;"
                                        src="{{notification.sender.photo}}" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 pl-3">
                            <a href="javascript:void(0)" (click)="open(classic,'' , '',notification.sender)">
                                <h5>{{notification.detail}} </h5>
                            </a>
                        </div>
                        <div *ngIf="notification.type=='friendrequest'" class="col-md-3 text-center">
                            <fa-icon *ngIf="!notification.seen" (click)="acceptRequest(notification._id)"
                                class="f f-check " [icon]="faCheck">
                            </fa-icon>
                            <fa-icon *ngIf="!notification.seen" (click)="cancelRequest(notification._id)"
                                class="f f-times" [icon]="faTimes">
                            </fa-icon>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">Detials</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-conte2nt-center">
                <div class=" row texst-center">
                    <div class="col-md-4 text-center">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <img class="rounded-circle"
                                    src="{{modalUser.photo?modalUser.photo:'./assets/img/faces/marc.jpg'}}" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <div class="card">
                            <div class="card-header card-header">
                                <h6 class="card-title">{{modalUser.name}}</h6>
                                <h6 class="card-title">{{modalUser.email}}</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</ng-template>