<section class="section">
    <div class="container">
        <div class="card">
            <div class="card-header card-header-info">
                <h3 class="card-title">Notifications</h3>
            </div>
            <div class="card-body">
                <div *ngIf="!show_notifications" class="card card-profile p-3">
                    <h5>No Notifications </h5>
                </div>
                <div [ngClass]="(notification.seen==false)?'unseen-card':'seen-card'" class="row"
                    *ngFor="let notification of notifications.notifications; let i = index;">
                    <div class="col-2 pl-1">
                        <div class="carsd-avatar p-1">
                            <a href="javascript:void(0)">
                                <img class="img" height="35px" width="40px" style="margin-top: 2px;"
                                    src="{{notification.sender.photo!='-'?notification.sender.photo:'./assets/img/faces/marc.jpg'}}" />
                            </a>
                        </div>
                    </div>
                    <div class="col-8 pl-4">
                        <div *ngIf="notification.type == 'eventinvite'">
                            <a href="javascript:void(0)" (click)="getEventByID(notification.event)">
                                {{notification.detail}}
                            </a>
                            <span>
                                {{notification.sender.email}}
                            </span>
                        </div>
                        <div *ngIf="notification.type != 'eventinvite'">
                            <a href="javascript:void(0)" (click)="open(classic,'' , '',notification)">
                                {{notification.detail}}
                            </a>
                            <span>
                                {{notification.sender.email}}</span>
                        </div>
                    </div>
                    <div *ngIf="!notification.seen" class="col-2">
                        <div *ngIf="notification.type=='friendrequest'">
                            <fa-icon *ngIf="!notification.seen" (click)="acceptRequest(notification._id)"
                                class="f f-check " [icon]="faCheck">
                            </fa-icon>
                            <fa-icon *ngIf="!notification.seen" (click)="cancelRequest(notification._id)"
                                class="f f-times" [icon]="faTimes">
                            </fa-icon>
                        </div>
                        <div *ngIf="notification.type=='eventinvite'">
                            <button (click)="open2(classic2,'' , '',notification)" style="width:86%;" mat-raised-button
                                type="button" class="btn btn-success btn-just-icon">
                                See Details
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">User Details</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-conte2nt-center">
                <div class=" row texst-center">
                    <div class="col-md-4 text-center">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <img class="rounded-circle"
                                    src="{{modalUser.photo?modalUser.photo:'./assets/img/faces/marc.jpg'}}" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <div class="card">
                            <div class="card-header card-header">
                                <h6 class="card-title">{{modalUser.name}}</h6>
                                <h6 class="card-title">{{modalUser.email}}</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</ng-template>

<ng-template #classic2 let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">EVENT DETAILS</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-conte2nt-center">
                <div class="col-md-5" *ngIf="modalEvent.attendees">
                    <div class="card" *ngIf="modalEvent.attendees">
                        <div class="card-header card-header">
                            <h3 class="card-title f-20">ATTENDEES</h3>
                        </div>
                        <div class="card-body" style="padding:0px;" *ngIf="modalEvent.attendees.length">
                            <ul style="padding-left: 28px; padding-top: 10px;">
                                <li *ngFor="let attendee of modalEvent.attendees">{{attendee.name}}</li>
                            </ul>
                        </div>
                        <div class="p-2 text-center" *ngIf="!modalEvent.attendees.length">
                            <p>
                                No attendees yet
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 row texst-center">
                    <div class="col-md-6">
                        <h4>{{modalEvent.title}}</h4>
                    </div>
                    <div class="col-md-6">
                        <p>{{modalEvent.date}}</p>
                        <p>{{modalEvent.time}}</p>
                    </div>
                    <hr>
                    <div class="col-md-12">
                        <h5>Description </h5>

                        <div class="description">
                            <p>{{modalEvent.description}}</p>
                        </div>
                    </div>
                    <div *ngIf="!dontshowbuttons" class="col-md-12">
                        <button mat-raised-button type="button" (click)="acceptInvitations(modalEvent._id)"
                            class=" full-width-btn btn btn-success ">I'm In</button>
                    </div>

                    <div *ngIf="!dontshowbuttons" class="col-md-12">
                        <button mat-raised-button type="button" (click)="rejectInvitations(modalEvent._id)"
                            class=" full-width-btn btn btn-warning ">Unsubscribe</button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</ng-template>