<section class="section">
    <div class="container">
        <div class="row form-row" style="margin: 0px;">
            <div class="bnts  col-md-6">
                <a routerLinkActive="active" class="nn" [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="['/contactlists/contact']">
                    <button style="width:100%;" mat-raised-button type="button"
                        class="btn btn-success pull-right">Contacts</button>
                </a>
            </div>
            <div class="bnts col-md-6">
                <a routerLinkActive="active" class="nn" [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="['/contactlists/list']">
                    <button style="width:100%;" mat-raised-button type="button"
                        class="btn btn-success pull-right">Lists</button>
                </a>
            </div>

            <div class="col-md-6 offset-md-3">
                <div class="form-group">
                    <div class="input-group ">
                        <input class="form-control form-control-sm input-sm" placeholder="Title" type="text">
                        <div class="input-group-append">
                            <span class="input-group-text sm-padding "><i class="ni ni-zoom-split-in"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>