<div class="main-content">

    <div class="row">
        <div class="offset-md-2 col-md-3" style="width: 1045px;">
            <button style="width:100%;" mat-raised-button type="button" (click)="gotoContacts()"
                class="btn btn-success pull-right">Contacts</button>
        </div>
        <div class="col-md-3">
            <button style="width:100%;" mat-raised-button type="button" (click)="gotoLists()"
                class="btn btn-success pull-right">Lists</button>
        </div>

        <div class="col-md-6 offset-md-2">
            <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value=""
                        style="padding: 10px; background: white; margin-top: 8px; border-radius: 4px;"
                        class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>