<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">{{'create-event.create-event'|translate}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-12">
                                    <br>
                                    <label for="name">{{'create-event.title'|translate}}</label><br>
                                    <input formControlName="title" style="width: 100%;" matInput
                                        placeholder="{{'create-event.title'|translate}}">

                                </div>
                                <div class="col-md-6">
                                    <br>
                                    <label for="date">{{'create-event.date'|translate}}</label><br>
                                    <input formControlName="date" style="width: 100%;" matInput
                                        placeholder="{{'create-event.date'|translate}}" type="date">
                                </div>
                                <div class="col-md-6">
                                    <br>
                                    <label for="date">Time</label><br>
                                    <input formControlName="time" style="width: 100%;" matInput placeholder="time"
                                        type="time">
                                </div>

                                <div class="col-md-12">
                                    <br>
                                    <label for="name">{{'create-event.description'|translate}}</label><br>
                                    <textarea formControlName="description" style="width: 100%;" matInput
                                        placeholder="{{'create-event.description'|translate}}"></textarea>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-{{extraField.length?6:'12'}} col-sm-12 ">
                                        <button (click)="addField()" mat-raised-button type="button"
                                            class="btn btn-info ">
                                            {{'create-event.add-field'|translate}}</button>
                                    </div>
                                    <div class="col-md-6  col-sm-12 pull-right">
                                        <span *ngIf="extraField.length" style="margin-top: 10px;">
                                            <button (click)="deleteField()" mat-raised-button type="button"
                                                class="btn btn-info ">
                                                Remove Field</button>
                                        </span>
                                    </div>
                                </div>
                                <div *ngIf="extraField.length" class="row card" style="width: 97.5%; margin-top: 10px;
                                margin-left: 11px;">
                                    <div formArrayName="extra_fields">
                                        <div *ngFor="let item of dynamicForm.get('extra_fields')['controls']; let i=index"
                                            [formGroupName]="i">
                                            <div class="col-md-12">
                                                <br>
                                                <label for="name">{{'create-event.title'|translate}}</label><br>
                                                <input formControlName="title" style="width: 100%;" matInput
                                                    placeholder="{{'create-event.title'|translate}}">
                                            </div>
                                            <div class="col-md-6">
                                                <br>
                                                <label for="name">{{'create-event.description'|translate}}</label><br>
                                                <textarea formControlName="description" style="width: 100%;" matInput
                                                    placeholder="{{'create-event.description'|translate}}"></textarea>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <span class="clearfix"></span>
                                    {{'create-event.privacity'|translate}} :
                                    {{(privatee?"create-event.public":"create-event.private")|translate}} <br>
                                    <span>
                                        <label class="custom-toggle">
                                            <input (change)="privacityChange()" type="checkbox"
                                                formControlName="privacity">
                                            <span class="custom-toggle-slider rounded-circle"></span>
                                        </label>
                                    </span>

                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="!editing" class="col-md-4">
                                    <button mat-raised-button type="submit" class="btn btn-info pull-right">
                                        {{'create-event.create-btn'|translate}}</button>
                                </div>
                                <div *ngIf="editing" class="col-md-4">
                                    <button mat-raised-button type="submit" class="btn btn-info pull-right">
                                        UPDATE</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button type="button" (click)="onCancel()"
                                        class="btn btn-danger pull-right">
                                        {{'create-event.cancel-btn'|translate}}</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>