
ul li {
    width: 250px;
    text-align: center;
}



@media (max-width: 1024px){
    
    .modal-content {
        width: 185%;
        right: 215px;
    }
}
@media (max-width: 425px){
    .modal-content {
        width: 100%;
        right: 0px;
    }
}
    /* @media (max-width: 425px){
        .main-content{
            margin-top:30%;
        }
        .modal-content{
            margin-top: 118px;
    
            width: 98%;
            right: -4px;
        }
        } */

        /* .modal-content{
            width: 250%;
            right: 390px;
            margin-top: 34px;
        } */
 