
ul li {
    width: 250px;
    text-align: center;
}



@media (max-width: 1024px){
    
    .modal-content {
        width: 185%;
        right: 215px;
    }
}
@media (max-width: 425px){
    .modal-content {
        width: 100%;
        right: 0px;
    }
    .row {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px; 
        margin-left: 0px;
    }
    .events_list{
        width: 100%;
    }
    .modal-body{
        padding: 0px;
        padding-top: 7px;
    }
    .modal-body p {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.1;
        margin: 0px;
        padding: 4px 0px;

    }
}
    /* @media (max-width: 425px){
        .main-content{
            margin-top:30%;
        }
        .modal-content{
            margin-top: 118px;
    
            width: 98%;
            right: -4px;
        }
        } */

        /* .modal-content{
            width: 250%;
            right: 390px;
            margin-top: 34px;
        } */
 