.main-content{
    margin-top:0px;
}
ul li {
    width: 250px;
    text-align: center;
}
.form-control-feedback {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;}