<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Contacts</h3>

            </div>
            <div class="card-body">

                <div class="card card-profile">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="carsd-avatar p-1">
                                <a href="javascript:void(0)">
                                    <img class="img" height="62px" style="margin-top: 2px;"
                                        src="./assets/img/faces/marc.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3>Mr. xavier </h3>
                        </div>
                        <div class="col-md-3" style="padding-top: 22px;">
                            <i class="fa fa-check" style=" margin-right: 18px;   font-size: 34px;
                            color: green;"></i>
                            <i class="fa fa-times" style="    font-size: 34px;
                            color: rgba(255, 0, 0, 0.568);"></i>
                        </div>
                    </div>
                </div>
                <div class="card card-profile">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="carsd-avatar p-1">
                                <a href="javascript:void(0)">
                                    <img class="img" height="62px" style="margin-top: 2px;"
                                        src="./assets/img/faces/marc.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3>Mr. xavier </h3>
                        </div>
                        <div class="col-md-3" style="padding-top: 22px;">
                            <i class="fa fa-check" style=" margin-right: 18px;   font-size: 34px;
                            color: green;"></i>
                            <i class="fa fa-times" style="    font-size: 34px;
                            color: rgba(255, 0, 0, 0.568);"></i>
                        </div>
                    </div>
                </div>
                <div class="card card-profile">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="carsd-avatar p-1">
                                <a href="javascript:void(0)">
                                    <img class="img" height="62px" style="margin-top: 2px;"
                                        src="./assets/img/faces/marc.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3>Mr. xavier </h3>
                        </div>
                        <div class="col-md-3" style="padding-top: 22px;">
                            <i class="fa fa-check" style=" margin-right: 18px;   font-size: 34px;
                            color: green;"></i>
                            <i class="fa fa-times" style="    font-size: 34px;
                            color: rgba(255, 0, 0, 0.568);"></i>
                        </div>
                    </div>
                </div>
                <div class="card card-profile">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="carsd-avatar p-1">
                                <a href="javascript:void(0)">
                                    <img class="img" height="62px" style="margin-top: 2px;"
                                        src="./assets/img/faces/marc.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3>Mr. xavier </h3>
                        </div>
                        <div class="col-md-3" style="padding-top: 22px;">
                            <i class="fa fa-check" style=" margin-right: 18px;   font-size: 34px;
                            color: green;"></i>
                            <i class="fa fa-times" style="    font-size: 34px;
                            color: rgba(255, 0, 0, 0.568);"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>