<div class="main-content">
    <div class="col-md-6 offset-md-3">
        <div class="form-group">
            <div class="input-group ">
                <input class="form-control form-control-sm input-sm" [(ngModel)]="term" placeholder="Title" type="text">
                <div class="input-group-append">
                    <span class="input-group-text sm-padding "><i class="ni ni-zoom-split-in"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluidd">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">{{'contacts.contacts'|translate}}</h3>
            </div>
            <div class="row card-body p-sm-0" *ngFor="let user of contacts|filter:term; let i=index;">
                <div *ngIf="user.photo" class="col-2 text-center">
                    <div class="card-profile-image">
                        <a href="javascript:void(0)">
                            <img width="46px" class="img" height="45px" style="margin-top: 2px; " class="rounded-circle"
                                src="{{user.photo}}" />
                        </a>
                    </div>
                </div>
                <div *ngIf="!user.photo" class="col-2 text-center">
                    <app-avatar name="{{user.name}}"></app-avatar>
                </div>

                <div class="col-6 font-12 pt-3 ">
                    <p class="font-12" (click)="open(classic,'' , '',user)">{{user.name}} </p>
                </div>
                <div *ngIf="!isFriend(user)" class="col-4 text-center"
                    [ngClass]="{'mt-3':!isFriendReqSent(user.friendrequests)}">
                    <fa-icon *ngIf="!isFriendReqSent(user.friendrequests)" (click)="sendFriendRequest(user._id)"
                        class="f-success f-check " [icon]="faCheck">
                    </fa-icon>
                    <span *ngIf="isFriendReqSent(user.friendrequests)"
                        style="font-size: 14px; color: rgba(18, 116, 56, 0.568);">Friend request sent</span>
                </div>
                <div *ngIf="isFriend(user)" class="col-4 text-center">
                    <fa-icon (click)="unFriend(user._id)" style="
                        font-size: 34px; color: rgba(255, 0, 0, 0.568);" class="f-times" [icon]="faTimes"></fa-icon>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <ng-template id="modal-content" #classic let-c="close" let-d="dismiss">
            <div class="modal-content w-80">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-default">{{'notification.see-details'|translate}}</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="d('Cross click')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-conte2nt-center">
                        <div class=" row texst-center">
                            <div *ngIf="modalUser.photo" class="col-md-4 text-center">
                                <div class="card-profile-image">
                                    <a href="javascript:void(0)">
                                        <img class="rounded-circle" src="{{modalUser.photo}}" />
                                    </a>
                                </div>
                            </div>
                            <div *ngIf="!modalUser.photo" class="col-md-4 text-center">
                                <app-avatar name="{{modalUser.name}}"></app-avatar>

                            </div>
                            <div class="col-md-7 offset-md-1">
                                <div class="card">
                                    <div class="card-header card-header">
                                        <h6 class="card-title">{{modalUser.name}}</h6>
                                        <h6 class="card-title">{{modalUser.email}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>