.f-50{
    font-size: 50px;

}
.nav-link li{
     color:#555;
     
    }
    .nav-link.active{
        
        color: #424242 !important;
        box-shadow: 4px 6px 16px -11px black;}
ul{
    text-align: center;
}
.navbar-transparent .navbar-nav .nav-link { 
    color:#555 ;

}

.right-menu{
    margin-left: 250px !important;
    color: #555;
}
.navbar{
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    transition:0.6s;
    z-index: 10000000;
    height: 110px;

    background: #eee;
    bottom:10px;
}
.headroom--not-top {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #f1f1f1 !important;
    box-shadow: 0 1px 10px rgba(130, 130, 134, 0.1);
}
.dropdown-toggle:empty::after {
    display: none;
}
.navbar > .container{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-start;
}
.navbar-expand{
    display: inherit;
}
@media(max-width:768px){
    .navbar-expand{
        display: inherit;
    }
    .f-50{
            font-size: 34px;
            color: #555;
        
    }
    .navbar > .container{
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: flex-start;
    }
    .right-menu{
        padding-top: 15px; padding-left: 87px
    }
}
@media(max-width:425px){
    .right-menu{
        margin-left: 0px !important;
    }
    .f-50{
        font-size: 34px;
        color: #555;
    
}
.right-menu{
    padding-top: 15px; padding-left: 17px
}
.f-home{
    font-size: 39px !important;
}
    #navbar_global{
    overflow: scroll;
    height: 100vh !important;
    }
}