<nav id="navbar-masin" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light ">
  <div class="container">
    <a class="navbar-brand mr-lg-5" routerLink="/">
      <img src="./assets/img/logo.jpg">
    </a>
    <div class="navbar-expand expand" id="navbar_glo bal">
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item ">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/"
            class="nav-link no-caret">
            <!-- <i class="f-50 fa fa-home f-home"></i> -->

            <fa-icon class="f-50" [icon]="faHome"></fa-icon>

          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link no-caret" routerLinkActive="active" routerLink="/events">
            <!-- <i class="f-50 fa fa-calendar d-lg"></i> -->
            <fa-icon class="f-50 " [icon]="faCalender"></fa-icon>

          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link no-caret" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/notifications">
            <!-- <i class="f-50 fa fa-bell"></i> -->
            <fa-icon class="f-50 " [icon]="faBell"></fa-icon>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link no-caret" routerLinkActive="active" routerLink="/contactlists">
            <fa-icon class="f-50 " [icon]="faUserCircle"></fa-icon>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link no-caret" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/user-profile">
            <fa-icon class="f-50 " [icon]="faUser"></fa-icon>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item  d-lg-block ml-lg-4 right-menu">
          <div class="" ngbDropdown>
            <!-- <i class="f-50 fa fa-list " id="dropdownMenuButton" ngbDropdownToggle></i> -->
            <fa-icon class="f-50 " [icon]="faList" id="dropdownMenuButton" ngbDropdownToggle></fa-icon>


            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
              <a (click)="logout()" class="dropdown-item" href="javascript:void(0)">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>