<div class="main-content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title ">Contacts Lists</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">

                        <div class="table-responsive">
                            <span>
                                <h3 style="color:rgb(95, 6, 136)">

                                    <i class="fa fa-trash-o"></i>
                                    List 1 >
                                </h3>
                            </span>

                            <h3 style="color:rgb(95, 6, 136)">
                                <i class="fa fa-trash-o"></i>
                                List 2</h3>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="table-responsive">
                            <table class="table" style="border: 1px solid #d1d1d1;
                            border-collapse: collapse;">
                                <thead class=" text-primary">
                                    <th>
                                        List 1 Contacts
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="row">
                                            <div class="col-md-8" style="width: 60%;">
                                                1 Dakota Rice Niger
                                            </div>
                                            <div style="width: 40%; text-align:center;">
                                                <img class="img" height="40px" src="./assets/img/faces/marc.jpg"
                                                    alt="img" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row">
                                            <div class="col-md-8" style="width: 60%;">
                                                1 Dakota Rice Niger
                                            </div>
                                            <div style="width: 40%; text-align:center;">
                                                <img class="img" height="40px" src="./assets/img/faces/marc.jpg"
                                                    alt="img" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row">
                                            <div class="col-md-8" style="width: 60%;">
                                                1 Dakota Rice Niger
                                            </div>
                                            <div style="width: 40%; text-align:center;">
                                                <img class="img" height="40px" src="./assets/img/faces/marc.jpg"
                                                    alt="img" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row">
                                            <div class="col-md-8" style="width: 60%;">
                                                1 Dakota Rice Niger
                                            </div>
                                            <div style="width: 40%; text-align:center;">
                                                <img class="img" height="40px" src="./assets/img/faces/marc.jpg"
                                                    alt="img" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-1 sp">
                        <span style="vertical-align:bottom">
                            <!-- <> -->

                            <div class="arrows">

                                <i class="fa fa-arrow-left"></i>
                                <i class="fa fa-arrow-right"></i>
                            </div>
                            <div class="updown">
                                <i class="fa fa-arrow-up"></i>
                                <i class="fa fa-arrow-down"></i>
                            </div>
                        </span>
                    </div>
                    <div class="col-md-3">

                        <div class="table-responsive">
                            <table class="table" style="border: 1px solid #d1d1d1;
                            border-collapse: collapse;">
                                <thead class=" text-primary">
                                    <th>
                                        Contacts
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="input-group bsorder" style="padding:7px 6px;">
                    <mat-form-field>
                        <input matInput placeholder="enter list name" value="">
                    </mat-form-field>
                    <button mat-raised-button type="submit" class="btn btn-success btn-just-icon">
                        <i class="fa fa-plus"></i> Add List
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>