<div class="main-content">
    <div class="container-fluidd">

        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title ">Contacts Lists</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="table-responsive">
                            <span *ngFor="let item of lists">
                                <h3 style="color:rgb(95, 6, 136)">

                                    <fa-icon (click)="thisList( item._id)" class="f-check" [icon]="faTrasho">
                                    </fa-icon>
                                    {{item.name}}
                                </h3>
                            </span>

                            <!-- <div class="form-group">
                                <label for="list">Lists select</label>
                                <select #t (change)="thisList(t.value)" [(ngModel)]="selected_list_name"
                                    class="form-control" id="list">
                                    <option style="color:rgb(95, 6, 136)" *ngFor="let item of lists"
                                        value="{{item.name}}">
                                        {{item.name}}
                                    </option>

                                </select>
                                {{selected_list_name}}
                                <fa-icon (click)="thisList(' item._id')" class=" f-check" [icon]="faTrasho"></fa-icon>
                            </div> -->


                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="table-responsive">
                            <table class="table" style="border: 1px solid #d1d1d1;
                            border-collapse: collapse;">
                                <thead class=" text-primary">
                                    <th>
                                        List 1 Contacts
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="row">
                                            <div class="col-md-8" style="width: 60%;">
                                                1 Dakota Rice Niger
                                            </div>
                                            <div style="width: 40%; text-align:center;">
                                                <img class="img" height="40px" src="./assets/img/faces/marc.jpg"
                                                    alt="img" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row">
                                            <div class="col-md-8" style="width: 60%;">
                                                1 Dakota Rice Niger
                                            </div>
                                            <div style="width: 40%; text-align:center;">
                                                <img class="img" height="40px" src="./assets/img/faces/marc.jpg"
                                                    alt="img" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row">
                                            <div class="col-md-8" style="width: 60%;">
                                                1 Dakota Rice Niger
                                            </div>
                                            <div style="width: 40%; text-align:center;">
                                                <img class="img" height="40px" src="./assets/img/faces/marc.jpg"
                                                    alt="img" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row">
                                            <div class="col-md-8" style="width: 60%;">
                                                1 Dakota Rice Niger
                                            </div>
                                            <div style="width: 40%; text-align:center;">
                                                <img class="img" height="40px" src="./assets/img/faces/marc.jpg"
                                                    alt="img" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-1 sp">
                        <span style="vertical-align:bottom">
                            <div class="arrows">
                                <fa-icon class="f-check" [icon]="faLeft"></fa-icon>
                                <fa-icon class="f-check" [icon]="faRight"></fa-icon>
                                <!-- <i class="fa fa-arrow-right"></i> -->
                            </div>
                            <div class="updown">
                                <fa-icon class="f-check" [icon]="faUp"></fa-icon>
                                <fa-icon class="f-check" [icon]="faDown"></fa-icon>
                                <!-- <i class="fa fa-arrow-up"></i> -->
                                <!-- <i class="fa fa-arrow-down"></i> -->
                            </div>
                        </span>
                    </div>
                    <div class="col-md-3">

                        <div class="table-responsive">
                            <table class="table" style="border: 1px solid #d1d1d1;
                            border-collapse: collapse;">
                                <thead class=" text-primary">
                                    <th>
                                        Contacts
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="input-group bsorder" style="padding:7px 6px;">
                    <!-- <mat-form-field> -->
                    <br>
                    <input matInput [(ngModel)]="list_name" name="list_name" placeholder="enter list name" value="">
                    <!-- </mat-form-field> -->
                    <button mat-raised-button type="button" (click)="createList()"
                        class="btn btn-success btn-just-icon">
                        <fa-icon class="f-check" [icon]="faPlus"></fa-icon>

                        Add List
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>