<div class="main-content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title ">Contacts Lists</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">

                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        List 1
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        List 1
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-1" style="padding-top:13%;vertical-align:bottom">
                        <span style="vertical-align:bottom">
                            <!-- <> -->

                            <i class="material-icons">
                                arrow_back_ios
                            </i>
                            <i class="material-icons">
                                arrow_forward_ios
                            </i>
                        </span>
                    </div>
                    <div class="col-md-3">

                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        List 1
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1 Dakota Rice Niger
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            `
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="input-group border" style="padding:7px 6px;">
                    <mat-form-field style="width: 88%;
                    height: 23px;
                    margin-top: 10px;">
                        <input style="width: 94%;" matInput placeholder="add friend" value="">
                    </mat-form-field>
                    <button style="width:70px;" mat-raised-button type="submit" class="btn btn-success btn-just-icon">
                        <i class="material-icons">ADD</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>