<div class="main-content">
    <div class="container-fluidd">
        <div class="card">
            <div class="card-header card-header-info">
                <h3 class="card-title">View Events</h3>
            </div>
            <div class="card-body">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <input class="form-control form-control-sm" [(ngModel)]="term"
                                    placeholder="Search by Title, Date, author" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text sm-padding"><i class="ni ni-zoom-split-in"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-sm-none d-lg-block">
                    <div class="col-sm-6" style="padding-left: 23px;">
                        <h2>Title</h2>
                    </div>
                    <div class="col-sm-3" style="padding-left: 23px;">
                        <h2>Date</h2>
                    </div>
                    <div class="col-sm-3" style="padding-left: 23px;">
                        <h2>Author</h2>
                    </div>
                </div>
                <div class="events_list">
                    <div class=" card event_text " *ngFor="let item of all_events |filter:term">
                        <div class="row ">
                            <div class="col-4 " style="text-align: center ">
                                <h4 class="link font-12 " (click)="getEventByID(item._id)">
                                    <a href="javascript:void(0)">
                                        {{item.title}}
                                    </a>
                                </h4>
                            </div>
                            <div class="col-4 " style="text-align: center ">
                                <h4 class="font-12 "> {{item.date}}
                                </h4>
                            </div>
                            <div class="col-4 " style="text-align: center ">
                                <h4 class="font-12 ">{{item.creator?item.creator.name:'-'}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #classic2 let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">EVENT DETAILS</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-conte2nt-center">
                <div class="col-md-5" *ngIf="modalEvent.attendees">
                    <div class="card" *ngIf="modalEvent.attendees">
                        <div class="card-header card-header">
                            <h3 class="card-title f-20">ATTENDEES</h3>
                        </div>
                        <div class="card-body" style="padding:0px;" *ngIf="modalEvent.attendees.length">
                            <ul style="padding-left: 28px; padding-top: 10px;">
                                <li *ngFor="let attendee of modalEvent.attendees">{{attendee.name}}</li>
                            </ul>
                        </div>
                        <div class="p-2 text-center" *ngIf="!modalEvent.attendees.length">
                            <p>
                                No attendees yet
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 row texst-center">
                    <div class="col-md-6">
                        <strong>{{modalEvent.title}}</strong>
                    </div>
                    <div class="col-md-6 lh-1">
                        <p>{{modalEvent.date}}</p>
                        <p>{{modalEvent.time}}</p>
                    </div>
                    <hr>
                    <div class="col-md-12">
                        <strong>Description </strong>
                        <div class="description">
                            <p>{{modalEvent.description}}</p>
                        </div>
                    </div>
                    <div *ngIf="modalEvent.extra_fields.length" class="col-md-12">
                        <!-- <h5>Extra Fields </h5>  -->
                        <div class="description" *ngFor="let item of modalEvent.extra_fields">
                            <strong>{{item.title}}</strong>
                            <p>{{item.description}}</p>
                        </div>
                    </div>
                    <div *ngIf="checkMyEvent(modalEvent._id)">
                        <div class="mt-3 col-12">
                            <a routerLink="/create-event/{{modalEvent._id}}" data-dismiss="modal" aria-label="Close"
                                (click)="d('Cross click')">
                                <button mat-raised-button type="button"
                                    class=" full-width-btn btn btn-warning ">EDIT</button>
                            </a>
                        </div>

                        <div class="col-12">
                            <a routerLink="/events/promotion/{{modalEvent._id}}" data-dismiss="modal" aria-label="Close"
                                (click)="d('Cross click')">
                                <button mat-raised-button type="submit"
                                    class=" full-width-btn btn btn-info ">PROMOTION</button>
                            </a>
                        </div>
                    </div>
                    <!-- useview events -  -->
                    <div *ngIf="showacceptbuttons" class="col-md-12">
                        <button mat-raised-button type="button" (click)="acceptInvitations(modalEvent._id)"
                            class=" full-width-btn btn btn-success ">I'm In</button>
                    </div>

                    <div *ngIf="showUnsubButton" class="col-md-12">
                        <button mat-raised-button type="button" (click)="rejectInvitations(modalEvent._id)"
                            class=" full-width-btn btn btn-warning ">Unsubscribe</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>