
ul li {
    width: 250px;
    text-align: center;
}
 
/* .full-width-btn{
    width: 100%;margin-bottom: 10px;
}
.card-header{
    background:#11cdef;
}
.card-title{
    color:#fff;
}
.rounded-circle{
    height: 162px;
    }
.description{
    text-align: left;
}
.modal-content{
    width: 250%;
    right: 390px;
    margin-top: 34px;
}
.link a:hover{
    color: rgb(50, 50, 93);
}

.main-content{
    margin-top:10%;
} */

@media (max-width: 1024px){
    
.modal-content {
    width: 185%;
    right: 215px;
}
}
@media (max-width: 425px){
    .font-12{
        font-size: 12px !important;
    }
    /* .main-content{
        margin-top:30%;
    }
    .modal-content{
        margin-top: 118px;

        width: 100%;
        right: auto;
    } */
    }