<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-info">
                <h3 class="card-title">Calendar</h3>

            </div>
            <div class="card-body">

                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <input class="form-control" placeholder="Title" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <input class="form-control" placeholder="Date" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <input class="form-control" placeholder="Author" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- <div class="row">
                    <div class="col-sm-6" style="padding-left: 23px;">
                        <h2>Title</h2>
                    </div>
                    <div class="col-sm-3" style="padding-left: 23px;">
                        <h2>Date</h2>
                    </div>
                    <div class="col-sm-3" style="padding-left: 23px;">
                        <h2>Author</h2>
                    </div>
                </div> -->

                <div class="card ">
                    <div class="row">
                        <div class="col-md-6" style="text-align: left; padding-left: 23px;">
                            <h3 class="link" (click)="open(classic,'' , '')">
                                <a href="javascript:void(0)">
                                    Title
                                </a>
                            </h3>

                        </div>
                        <div class="col-md-3" style="text-align: left; padding-left: 23px;">
                            <h3>28/03/2020</h3>
                        </div>
                        <div class="col-md-3" style="text-align: left; padding-left: 23px;">

                            <h3>Mr X</h3>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="row">
                        <div class="col-md-6" style="text-align: left; padding-left: 23px;">
                            <h3 class="link" (click)="open(classic,'' , '')">
                                <a href="javascript:void(0)">
                                    Title
                                </a>
                            </h3>

                        </div>
                        <div class="col-md-3" style="text-align: left; padding-left: 23px;">
                            <h3>28/03/2020</h3>
                        </div>
                        <div class="col-md-3" style="text-align: left; padding-left: 23px;">

                            <h3>Mr X</h3>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="row">
                        <div class="col-md-6" style="text-align: left; padding-left: 23px;">
                            <h3 class="link" (click)="open(classic,'' , '')">
                                <a href="javascript:void(0)">
                                    Title
                                </a>
                            </h3>

                        </div>
                        <div class="col-md-3" style="text-align: left; padding-left: 23px;">
                            <h3>28/03/2020</h3>
                        </div>
                        <div class="col-md-3" style="text-align: left; padding-left: 23px;">

                            <h3>Mr X</h3>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="row">
                        <div class="col-md-6" style="text-align: left; padding-left: 23px;">
                            <h3 class="link" (click)="open(classic,'' , '')">
                                <a href="javascript:void(0)">
                                    Title
                                </a>
                            </h3>

                        </div>
                        <div class="col-md-3" style="text-align: left; padding-left: 23px;">
                            <h3>28/03/2020</h3>
                        </div>
                        <div class="col-md-3" style="text-align: left; padding-left: 23px;">

                            <h3>Mr X</h3>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">EVENT DETAILS</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header card-header">
                            <h3 class="card-title">ATTENDEES</h3>
                        </div>
                        <div class="card-body">
                            <h4>Name 1</h4>
                            <h4>Name 2</h4>
                            <h4>Name 3</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 row text-center">
                    <div class="col-md-6">
                        <h3>Title</h3>
                    </div>
                    <div class="col-md-6">
                        <h3>31/08/2020</h3>
                        <h4>12:14 AM</h4>
                    </div>
                    <div class="col-md-12">
                        <h3>Description </h3>

                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ex nemo laudantium
                                dolores eum eligendi harum quasi quidem eveniet! Laborum mollitia voluptates dicta ut
                                dolorem accusantium cumque nesciunt quis sed!</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <button mat-raised-button type="submit" class=" full-width-btn btn btn-success ">I'M IN</button>
                    </div>
                    <div class="col-md-6">
                        <button mat-raised-button type="submit"
                            class=" full-width-btn btn btn-danger ">UNSUBSCRIBE</button>
                    </div>
                    <div class="col-md-6">
                        <button mat-raised-button type="submit" class=" full-width-btn btn btn-warning ">EDIT</button>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/events/promotion" data-dismiss="modal" aria-label="Close"
                            (click)="d('Cross click')">
                            <button mat-raised-button type="submit"
                                class=" full-width-btn btn btn-info ">PROMOTION</button>
                        </a>
                    </div>

                </div>

            </div>
        </div>

    </div>
</ng-template>