<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-info">
                <h3 class="card-title">PROMOTION</h3>

            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6" style="padding-left: 23px;">
                        <h2>Title</h2>
                    </div>
                    <div class="col-sm-6" style="padding-left: 23px;">
                        <h2>Date</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group label-floating has-success">
                            <!-- <label class="control-label">Title</label> -->
                            <input placeholder="Title" type="text" class="form-control" />
                            <span class="form-control-feedback">
                                <i class="material-icons">search</i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group label-floating has-success">
                            <!-- <label class="control-label">Date</label> -->
                            <input placeholder="Date" type="text" class="form-control" />
                            <span class="form-control-feedback">
                                <i class="material-icons">search</i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="card ">
                    <div class="row">
                        <div class="col-md-4" style="text-align: center; ">
                            <h3>CONFIRMED</h3>
                        </div>
                        <div class="col-md-4" style="text-align: center; ">
                            <h3>ELIMINATED</h3>
                        </div>
                        <div class="col-md-4" style="text-align: center; ">
                            <h3>BLOCKED</h3>
                        </div>


                    </div>
                    <table class="table border" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>
                                    <h4>
                                        Name
                                    </h4>
                                </th>
                                <th>
                                    <h4>
                                        Name
                                    </h4>
                                </th>
                                <th>
                                    <h4>
                                        Name
                                    </h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Andrew jack</td>
                                <td>Andrew Mik</td>
                                <td>Andrew ike</td>
                            </tr>
                            <tr>
                                <td>Andrew Mike</td>
                                <td>Andrew Mike</td>
                                <td>Andrew Mike</td>
                            </tr>
                            <tr>
                                <td>Andrew Mike</td>
                                <td>Andrew Mike</td>
                                <td>Andrew Mike</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card ">
                    <div class="card-header card-header-success">
                        <h3 class="card-title">
                            Promotions
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group label-floating has-success">
                                    <input placeholder="Search" type="text" class="form-control" />
                                    <span class="form-control-feedback">
                                        <i class="material-icons">search</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-7">

                                <div class="table-responsive">
                                    <table class="table" style="border: 1px solid #d1d1d1;
                                        border-collapse: collapse;">
                                        <thead class=" text-primary">
                                            <th>
                                                Name
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    List1
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    List 2
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    List 3
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2 arrows">
                                <span style="vertical-align:bottom">
                                    <!-- <> -->

                                    <i class="material-icons">
                                        arrow_back_ios
                                    </i>
                                    <i class="material-icons">
                                        arrow_forward_ios
                                    </i>
                                </span>
                            </div>
                            <div class="col-md-3">

                                <div class="table-responsive">
                                    <table class="table" style="border: 1px solid #d1d1d1;
                                        border-collapse: collapse;">
                                        <thead class=" text-primary">
                                            <th>
                                                Name
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    List 1
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    List 2
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    List 3
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <br>
                                    <button style="width:98%;" mat-raised-button type="button"
                                        class="btn btn-success btn-just-icon">
                                        Send
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>