<div class="main-content">
    <div class="container-fluidd">
        <div class="card">
            <div class="card-header card-header-info">
                <h3 class="card-title">PROMOTION</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- <div class="col-sm-6" style="padding-left: 23px;">
                        <h2>Title</h2>
                    </div>
                    <div class="col-sm-6" style="padding-left: 23px;">
                        <h2>Date</h2>
                    </div> -->
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <div class="input-group mb-4">
                                <input class="form-control input-sm form-control-sm" [(ngModel)]="term"
                                    placeholder="Title" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text sm-padding"><i class="ni ni-zoom-split-in"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6">
                        <div class="form-group ">
                            <div class="input-group mb-4">
                                <input class="form-control input-sm form-control-sm"  
                                    placeholder="Date" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text sm-padding"><i class="ni ni-zoom-split-in"></i></span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="events_list" *ngIf="events">

                    <div class="card event_text" *ngFor="let event of events |filter:term">
                        <div class="row" [class.selected]="event.selected">
                            <div class="col-6" style="text-align: left; padding-left: 23px;">
                                <a href="javascript:void(0)" (click)="selectEvent(event)">
                                    <h4>{{event.title}}</h4>
                                </a>
                            </div>
                            <div class="col-6" style="text-align: left; padding-left: 23px;">
                                <h4>{{event.date}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card d-lg-none hidden-lg ">
                    <div class="card">

                        <div class="card-header">
                            <h4>Confirmed</h4>
                        </div>
                        <div class="card-body">
                            <p>Andrew jack</p>
                            <p>Andrew Mik</p>
                            <p>Andrew ike</p>
                        </div>
                    </div>
                    <div class="card">

                        <div class="card-header">
                            <h4>Eliminated</h4>
                        </div>
                        <div class="card-body">
                            <p>Andrew jack</p>
                            <p>Andrew Mik</p>
                            <p>Andrew ike</p>
                        </div>
                    </div>
                    <div class="card">

                        <div class="card-header">
                            <h4>Blocked</h4>
                        </div>
                        <div class="card-body">
                            <p>Andrew jack</p>
                            <p>Andrew Mik</p>
                            <p>Andrew ike</p>
                        </div>
                    </div>
                </div>
                <div class="card d-sm-none d-lg-block">
                    <table class="table border" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>
                                    <h4>
                                        CONFIRMED
                                    </h4>
                                </th>
                                <th>
                                    <h4>
                                        ELIMINATED
                                    </h4>
                                </th>
                                <th>
                                    <h4>
                                        BLOCKED
                                    </h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Andrew jack</td>
                                <td>Andrew Mik</td>
                                <td>Andrew ike</td>
                            </tr>
                            <tr>
                                <td>Andrew Mike</td>
                                <td>Andrew Mike</td>
                                <td>Andrew Mike</td>
                            </tr>
                            <tr>
                                <td>Andrew Mike</td>
                                <td>Andrew Mike</td>
                                <td>Andrew Mike</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card ">
                    <div class="card-header card-header-success">
                        <h3 class="card-title">
                            Promote Your Event
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <div class="input-group mb-4">
                                        <input class="form-control input-sm form-control-sm" placeholder="Search"
                                            type="text">
                                        <div class="input-group-append">
                                            <span class="input-group-text sm-padding"><i
                                                    class="ni ni-zoom-split-in"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="table-responsive">
                                    <table class="table" style="border: 1px solid #d1d1d1;
                                        border-collapse: collapse;">
                                        <thead class=" text-primary">
                                            <th>
                                                Selected Contacts
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    List1
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    List 2
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    List 3
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2 text-center">
                                <div class="arrows">
                                    <fa-icon class="f-check" [icon]="faLeft"></fa-icon>
                                    <fa-icon class="f-check" [icon]="faRight"></fa-icon>
                                </div>
                                <div class="updown">
                                    <fa-icon class="fa" [icon]="faUp"></fa-icon>
                                    <fa-icon class="fa" [icon]="faDown"></fa-icon>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="table-responsive">
                                    <table class="table" style="border: 1px solid #d1d1d1;
                                        border-collapse: collapse;">
                                        <thead class=" text-primary">
                                            <th>
                                                Contacts
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr [class.selected]="friend.selected"
                                                *ngFor=" let friend of friends |filter:term"
                                                (click)="selectEvent(friend)">
                                                <td>
                                                    {{friend.name}} <br>
                                                    <!-- <small>
                                                        {{friend.email}}
                                                    </small> -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <button (click)="sendInvitations()" style="width:98%;" mat-raised-button
                                        type="button" class="btn btn-success btn-just-icon">
                                        Send Invitation
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>