@media(max-width:425px){

    #logo{
       margin-left: 13px;
   }
}
@media(max-width:375px){
   
    #logo{
       margin-left: -23px;
   }
}
@media(max-width:320px){
    #logo{
       margin-right: 45px;
       margin-left: -13px;
       height: 80px;
       }
   
}